* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Red Hat Text;
  background: linear-gradient(180deg, #116aef 29.17%, #f5c800 100%) no-repeat;
  background-size: cover;
}
nav {
  background: #12192b;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  background: white;
  border-radius: 7px;
  text-decoration: none;
}
a.active,
a:hover {
  background: #c4c4c4;
  border-radius: 7px;
  color: black;
  transition: 0.5s;
  text-decoration: none;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f5c800;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a:active {
    background: none;
    color: #12192b;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  font-family: Red Hat Text;
  align-content: center;
  float: none;
}
btn btn-primary {
  background: #F5C800;
  color: #12192b;
  font-family: Red Hat Text;
  align-content: center;
}
.card-title {
  font-weight: bold;
  font-family: Red Hat Text;
}
.card-img {
  position: absolute;
width: 175px;
height: 175px;

background: url(image.png);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
@media (min-width: 400px) {

}
.card-text {
  font-family: Red Hat Text;
  text-align: center;
}
.card-footer {
  font-family: Red Hat Text;
  font-size: 16px;
}
.btn-primary {
  background: #F5C800;
  color: #12192b;
  outline-color: none;
}
.card-img-top {
  height: 280px;
}
.footer-image {
  size: 5rem;
}