<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lepe - Admin Editor </title>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
    <link rel="stylesheet" href="../public/style/home.css">
</head>
<body>
    <h1> Wellcome to the Admin editor</h1>
    <button id="logOut"> Log out</button>
    
    <script src="../public/script/editor.js"></script>
</body>
</html>