<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lepe - Error</title>
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
    <link rel="stylesheet" href="../public/style/error.css">
</head>
<body>
    <h1> Sorry we couldn't find "{{pageName}}" page </h1>
    <h4> Let's get you home buddy </h4>
    <a href="../../../../../home">
        <p> Click here </p>
    </a>
</body>
</html>